.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.arrow {
  display: inline-block;
  margin-left: 8px;
}
.hamburger {
  display: none;
}
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .ham-nav-links {
    height: 250px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3px;
  }
  .ham-nav-links {
    font-size: 1.2em;
  }
}
